#link-top, img, video, iframe, figure, .google-map, .container-iframe, picture, .preview-container embed, #quick-navigation, map, area {
    display: none;
}

@media print {
    html, body {
        width: 210mm; /*latime pag A4 */
        overflow: visible !important;
        color: black;
        background: white;
    }
    
    a, a:link, a:visited, a:hover, a:active,
    main a, main a:not(nav a), .taburi-iframe a,
    nav.meniu a, footer a { /* toate tipurile de link */
        color: black !important;
        text-decoration: none !important;
        text-shadow: none !important;
        background-image: none !important;
        background-color: transparent !important;
        border-color: black !important;
    }
    
    .print-banner {
        position: absolute;
        top: 1cm;
        right: 1cm;
        width: 50%;
        border: 3px double black;
        padding: 10px;
        text-align: center;
        font-weight: bold;
    }
    
    h1 {
        page-break-after: always; /*page break pentru fiecare titlu */
        margin-top: 50%;
        text-align: center;
    }
    
    nav.meniu {
        display: block;
    }
    
    nav.meniu ul {
        display: block;
        margin-left: 20px;
    }
    
    nav.meniu ul ul {
        margin-left: 40px;
    }
    
    nav.meniu li {
        display: list-item;
        margin: 5px 0;
    }
    
    #grid-pagina {
        display: block;
        background-color: white;
        page-break-before: always;
    }
    
    footer {
        page-break-before: always; /* footerul incepe pe o pag noua*/
    }
    
    body::after {
        content: "Mocanu\AMădălin-Eduard";
        white-space: pre; /* pe 2 randuri */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.3);
        font-size: 24pt;
        font-weight: bold;
        z-index: -1; /* in spatele continutlui*/
    }
    
    * {
        background-color: transparent !important;
    }
}

@page {
    size: A4 portrait;
    margin-bottom: 2cm;
    margin-top: 2cm;
    counter-increment: page;
}
/* formatare "carte"*/
@page:left {
    margin-left: 2cm;
    margin-right: 1cm;
}

@page:right {
    margin-right: 2cm;
    margin-left: 1cm;
}