<!------------------------------- Navigation ------------------------------->
<header>
    <h1>PC Galaxy</h1>
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="hamburger-menu">
        <span class="hamburger-line hamburger-line-top"></span>
        <span class="hamburger-line hamburger-line-middle"></span>
        <span class="hamburger-line hamburger-line-bottom"></span>
    </label>
    <nav class="meniu">
        <ul>
            <li><a href="/home"><span>Acasă</span></a>
                <ul>
                    <li><a href="/home#oferte">Reduceri & Promoții</a></li>
                    <li><a href="/home#noutati">Lansări Noi</a></li>
                    <li><a href="/home#populare">Produse Populare</a></li>
                </ul>
            </li>
            <li><a href="/produse">Catalog Produse</a>
                <ul>
                    <li><a href="/pc">PC-uri</a>
                        <ul>
                            <li><a href="/gaming">Gaming</a></li>
                            <li><a href="/office">Office</a></li>
                        </ul>
                    </li>
                    <li><a href="/componente">Componente</a>
                        <ul>
                            <li><a href="/procesoare">Procesoare</a></li>
                            <li><a href="/placi-baza">Plăci de Bază</a></li>
                            <li><a href="/placi-video">Plăci Video</a></li>
                            <li><a href="/ram">RAM</a></li>
                            <li><a href="/stocare">Stocare</a></li>
                            <li><a href="/surse">Surse</a></li>
                            <li><a href="/carcase">Carcase</a></li>
                            <li><a href="/coolere">Coolere</a></li>
                        </ul>
                    </li>
                    <li><a href="/periferice">Periferice</a>
                        <ul>
                            <li><a href="/tastaturi">Tastaturi</a></li>
                            <li><a href="/mouse">Mouse</a></li>
                            <li><a href="/mousepad">Mousepad</a></li>
                            <li><a href="/monitoare">Monitoare</a></li>
                            <li><a href="/casti">Căști</a></li>
                        </ul>
                    </li>
                    <li><a href="/software">Software</a>
                        <ul>
                            <li><a href="/sisteme-operare">Sisteme de Operare</a></li>
                            <li><a href="/licente">Licențe software</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/tutoriale-resurse">Tutoriale și Resurse</a>
                <ul>
                    <li><a href="/home#video-tutorials">Ghiduri Video</a></li>
                    <li><a href="/home#downloads">Documentație</a></li>
                </ul>
            </li>
            <li><a href="/cos">Coș de cumpărături</a></li>
            <li><a href="/wishlist">Wishlist</a></li>
            <li><a href="/informatii">Informații</a>
                <ul>
                    <li><a href="/faq">Întrebări Frecvente</a></li>
                    <li><a href="/despre">Despre noi</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>