<!------------------------------- Basic Meta Tags ------------------------------->
<title>PC Galaxy - Ghidul tău în universul componentelor PC</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

<!------------------------------- SEO Meta Tags ------------------------------->
<meta name="author" content="PC Galaxy SRL">

<!------------------------------- Font resouces ------------------------------->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

<!------------------------------- Favicon ------------------------------->
<link rel="icon" type="image/png" href="/Resurse/Imagini/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/svg+xml" href="/Resurse/Imagini/favicon/favicon.svg">
<link rel="shortcut icon" href="/Resurse/Imagini/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/Resurse/Imagini/favicon/apple-touch-icon.png">
<meta name="apple-mobile-web-app-title" content="PC Galaxy">
<meta name="msapplication-TileColor" content="#2b5797">
<link rel="manifest" href="/Resurse/Imagini/favicon/site.webmanifest">


<!------------------------------- CSS Links ------------------------------->
<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="/Resurse/css/customizare_bootstrap.css">
<link rel="stylesheet" type="text/css" href="/Resurse/css/general.css">
<link rel="stylesheet" type="text/css" href="/Resurse/scss/nav.css">
<link rel="stylesheet" type="text/css" href="/Resurse/scss/nav1024.css">
<link rel="stylesheet" type="text/css" href="/Resurse/scss/nav480.css">
<link rel="stylesheet" type="text/css" href="/Resurse/css/print.css" media="print">