<!------------------------------- Navigation ------------------------------->
<header>
    <h1>PC Galaxy</h1>
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="hamburger-menu">
        <span class="hamburger-line hamburger-line-top"></span>
        <span class="hamburger-line hamburger-line-middle"></span>
        <span class="hamburger-line hamburger-line-bottom"></span>
    </label>
    <nav class="meniu">
        <ul>
            <li><a href="/home"><span>Acasă</span></a>
                <ul>
                    <li><a href="/home#oferte">Reduceri & Promoții</a></li>
                    <li><a href="/home#noutati">Lansări Noi</a></li>
                    <li><a href="/home#populare">Produse Populare</a></li>
                </ul>
            </li>
            <li><a href="/produse">Catalog Produse</a>
                <ul>
                    <li><a href="/produse#pc">PC-uri</a>
                        <ul>
                            <li><a href="/produse#gaming">Gaming</a></li>
                            <li><a href="/produse#office">Office</a></li>
                        </ul>
                    </li>
                    <li><a href="/produse#componente">Componente</a>
                        <ul>
                            <li><a href="/produse#procesoare">Procesoare</a></li>
                            <li><a href="/produse#placi-baza">Plăci de Bază</a></li>
                            <li><a href="/produse#placi-video">Plăci Video</a></li>
                            <li><a href="/produse#ram">RAM</a></li>
                            <li><a href="/produse#stocare">Stocare</a></li>
                            <li><a href="/produse#surse">Surse</a></li>
                            <li><a href="/produse#carcase">Carcase</a></li>
                            <li><a href="/produse#coolere">Coolere</a></li>
                        </ul>
                    </li>
                    <li><a href="/produse#periferice">Periferice</a>
                        <ul>
                            <li><a href="/produse#tastaturi">Tastaturi</a></li>
                            <li><a href="/produse#mouse">Mouse</a></li>
                            <li><a href="/produse#mousepad">Mousepad</a></li>
                            <li><a href="/produse#monitoare">Monitoare</a></li>
                            <li><a href="/produse#casti">Căști</a></li>
                        </ul>
                    </li>
                    <li><a href="/produse#software">Software</a>
                        <ul>
                            <li><a href="/produse#sisteme-operare">Sisteme de Operare</a></li>
                            <li><a href="/produse#licente">Licențe software</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/home#tutoriale-resurse">Tutoriale și resurse</a>
                <ul>
                    <li><a href="/home#video-tutorials">Ghiduri Video</a></li>
                    <li><a href="/home#downloads">Documentație</a></li>
                </ul>
            </li>
            <li><a href="/cos">Coș de cumpărături</a></li>
            <li><a href="/wishlist">Wishlist</a></li>
            <li><a href="/informatii">Informații</a>
                <ul>
                    <li><a href="/faq">Întrebări Frecvente</a></li>
                    <li><a href="/despre">Despre noi</a></li>
                </ul>
            </li>
            <li><a href="/galerie">Galerie</a></li>
        </ul>
    </nav>
</header>